body{
    /*background: #763939;*/
   
}

main{
  
}



.cardapio{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4%;
    margin: 0 10px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
  
}

h2{
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
}

.teste{
    max-width: 200px;
    max-height: 300px;
    background-color:#763939a4;
    border-radius: 20px;
   
    
}


.img img{
    width: 80%;
    margin: 10px;
    border-radius: 20px;
}

.texto{
    text-align: start;
    width: 80%;
    border-top: 1px solid rgb(172, 168, 168);
    margin-bottom: 10px;
    
}

.texto h3{
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.texto p {
    color: white;
}

@media (max-width:814px){
    .cardapio{
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 5px;
    }
    body{
        overflow: auto;
        background-repeat: repeat-y;
    }
}

@media (min-width:600px){
    .teste:hover{
        box-shadow: 0 0 10px  white;
        transform: scale(110%);
        transition: 0.5s;
    }
}

@media (max-width:504px) {
    .cardapio{
        grid-template-columns: 1fr 1fr ;
        
    }
    main{
        text-align: center;
    }
}

@media (max-width:340px) {
    .cardapio{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}